<div class="message-container <%= 'current_user' if message.user == current_user %>" id="message-<%= message.id %>" data-author-id="<%= message.user.id %>">
  <i class="author">
    <% if message.user.photo.attached? %>
       <a href="#"><%= image_tag message.user.photo %></a>
     <% end %>
  </i>
  <div class="message-wrapper">
    <div>
      <p><strong><%= message.user.nickname %></strong></p>
      <p><%= message.content %></p>
    </div>
    <small><%= message.created_at.strftime("%d/%m/%Y à %H:%M:%S") %></small>
  </div>
</div>
