<div class="form-container">
<h2>Sign up</h2>

  <div class="form-event">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-line">
        <div id="mr15">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      placeholder: "James"  %>
        </div>
          <%= f.input :last_name,
                      required: true,
                      placeholder: "Bond" %>
      </div>
      <div class="input-line">
        <div id="mr15">
          <%= f.input :nickname, required: true, placeholder: "JB-007" %>
        </div>
        <%= f.input :birthdate, as: :string, label: 'Birthdate', required: false,
                    placeholder: "13/04/1968",
                    input_html: {class: "datepicker"} %>
      </div>
      <%= f.input :hobby_list, collection: Event::EVENT_TYPES.sort, input_html: { multiple: true, class: "tag-selector"},
                as: :check_boxes, item_wrapper_class: 'tag-item', include_hidden: false  %>
      <%= f.input :photo, as: :file, input_html: { class: "d-none input-photo" }, label_html: { class: "upload-photo" } %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <div class="input-line">
        <div id="mr15">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        </div>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn btn-flat-primary' %>
    </div>
  <% end %>
  </div>

<%= render "devise/shared/links" %>

</div>
