<% @user.events.each do |event| %>
  <div class="container card-product card-container">
    <% if policy(event).show? %>
      <%= link_to event_path(event), class: "text-reset text-decoration-none" do %>
        <%= render "user_events_cards", event: event %>
      <% end %>

    <% else %>
      <%= render "user_events_cards", event: event %>
    <% end %>

    <div class="icon-zone">
      <ul class="list-unstyled">
        <li class="list-unstyled">
          <% if policy(event).update? %>
            <%= link_to edit_event_path(event) do %>
              <i class="fas fa-edit list-inline-item"></i>
            <% end %>
          <% end %>
        </li>
        <li class="list-unstyled">
          <% if policy(event).destroy? %>
            <%= link_to event_path(event), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
              <i class="fas fa-trash-alt list-inline-item" style="color:tomato;"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
