<div class="card-product">
  <div class="event-picture">
    <%= cl_image_tag event.photos.any? ? event.photos.first.key : "https://res.cloudinary.com/drzg8kw0k/image/upload/v1611342995/4hux27613gnhmjimg612mls9chi0.jpg" %>
  </div>
  <div class="card-product-info">
    <div class="card-product-title">
      <%= event.name %>
      <% if event.starts_at.strftime("%d/%m/%Y") == event.ends_at.strftime("%d/%m/%Y") %>
        on <%= event.starts_at.strftime("%d/%m/%Y") %>
      <% else %>
        from <%= event.starts_at.strftime("%d/%m/%Y") %> to <%= event.ends_at.strftime("%d/%m/%Y") %>
      <% end %>
    </div>
    <p><%= event.description %></p>
  </div>
</div>
