<h1>User <%= @user.nickname %></h1>
<h2>My Hobbies</h2>
<%= @user.hobby_list %>

<h2>My organized events</h2>
<div class="event-container">
  <%= render "my_events" %>
</div>
<%= link_to 'Create an event', new_event_path, class: 'btn btn-flat-primary' %>

<h2>My booked events</h2>
<div class="event-container">
  <%= render "booked_events" %>
</div>


