<h1>User <%= @user.nickname %></h1>
<h2>Hobbies</h2>
<%= @user.hobby_list %>

<h2>My organized events</h2>
  <% @user.events.each do |event| %>
<ul class="list-inline mb-0">
    <li class="list-inline-item">
      <%= event.name %>
    </li>
    <li class="list-inline-item">
      <% if policy(event).show? %>
        <%= link_to event_path(event) do %><i class="fas fa-eye m-0"></i><% end %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <% if policy(event).update? %>
        <%= link_to edit_event_path(event) do %>
          <i class="fas fa-edit list-inline-item"></i>
        <% end %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <% if policy(event).destroy? %>
        <%= link_to event_path(event), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
          <i class="fas fa-trash-alt list-inline-item"></i>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add an event', new_event_path %>
