<h1>User <%= @user.nickname %></h1>
<h2>Hobbies</h2>
<%= @user.hobby_list %>

<h2>My organized events</h2>
<%= render "events" %>
<h2>My booked events</h2>
<%= render "booked_events" %>

<%= link_to 'Add an event', new_event_path, class: 'btn btn-flat-primary' %>
