<!-- NEW DESIGN // TO INTEGRATE CONTENT INSIDE -->

<div style="padding: 8% 100px 1%; text-align:center; " class="content-space d-profile-color">
  <% if @user == current_user %>
    <h1>Good afternoon <%= @user.first_name.capitalize %> !</h1>
  <% else %>
    <h1>Detailed informations on <%= @user.first_name.capitalize %> !</h1>
  <% end %>
</div>

<!-- SECTION INFORMATION -->

<div class="content-space d-flex justify-content-around d-profile-color" style="padding: 4% 100px;">
  <div class="d-flex" style="flex-direction:column;">
      <span><strong>Name</strong>: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></span>
      <span><strong>Nickname</strong>: <%= @user.nickname %></span>
      <span><strong>Team</strong>: <%= @user.team %></span>
      <span><strong>Arrival Date</strong>: <%= @user.joined_at %></span>
      <span><strong>Next organized event in</strong>: <%= @user.days_before_next_event.blank? ? 'No event organized' : pluralize(@user.days_before_next_event, 'day') %>.</span>
      <span><strong>Booked for</strong>: <%=pluralize(@user.events.count, 'event') %>.</span>
      <span>
        <strong>Hobbies</strong>:
          <% @user.hobby_list.each do |hobby| %>
            <span class="tag-show-event"><%= hobby %></span>
          <% end %>
      </span>
      <span class="mt-2"><strong>Bio</strong>: <%= @user.bio %></span>
  </div>

<!-- PHOTO -->

  <div class="d-flex" style="flex-direction:column; text-align:center;">
    <div class="image">
      <% if @user.photo.attached? %>
         <%= image_tag @user.photo, style: "width: 100px; height: auto", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>

    <div class="d-flex justify-content-around mt-2">
      <i class="fab fa-linkedin-in" style="size:7px;"></i>
      <i class="fas fa-envelope" style="size:7px;"></i>
    </div>

    <div class="d-flex justify-content-around mt-2">
      <% if @user == current_user %>
        <%= link_to 'Edit my profile', edit_user_registration_path, class: 'btn btn-flat-primary btn-sm' %>
      <% end %>
     </div>

  </div>
</div>


<!-- EVENT SECTION -->

<div class="d-flex justify-content-center pt-5" style="background:white;">
  <h2><%= @user == current_user ? 'My Events' : 'Events' %> </h2>
</div>

<div class="content-space" style="background:white;">
  <div class="d-flex justify-content-between">
    <h3 class="mr-3"><%= @user == current_user ? 'Organized Events' : 'Organized Events' %></h3>
    <% if @user == current_user %>
      <%= link_to 'Create an event', new_event_path, class: 'btn btn-flat-primary btn-sm' %>
    <% end %>
  </div>
    <%= render "my_events" %>
</div>

<div class="content-space" style="background-color: #f5f5ff;">
  <div class="d-flex">
    <h3><%= @user == current_user ? 'Your Booked Events' : 'Booked Events' %></h3>
  </div>
    <%= render "booked_events" %>
</div>
