<!-- NEW DESIGN // TO INTEGRATE CONTENT INSIDE -->

<div style="padding: 8% 100px 7%; text-align:center;" class="content-space">
  <h1>Detailed information on <%= @user.first_name.capitalize %> !</h1>
</div>

<!-- SECTION INFORMATION -->

<div class="content-space d-flex justify-content-around" style="padding: 0% 100px 3%;">
  <div class="d-flex" style="flex-direction:column;">
      <span><strong>Name</strong>: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></span>
      <span><strong>Nickname</strong>: <%= @user.nickname %></span>
      <span><strong>Team</strong>: <%= @user.team %></span>
      <span><strong>Arrival Date</strong>: <%= @user.joined_at %></span>
      <span><strong>Bio</strong>: <%= @user.bio %></span>
      <span><strong>Next organized event in</strong>: <%= pluralize(@user.days_before_next_event, 'day') %>.</span>
      <span><strong>Booked for</strong>: <%=pluralize(@user.events.count, 'event') %>.</span>
  </div>

  <div class="d-flex" style="flex-direction:column; text-align:center;">
    <div class="image">
      <% if current_user.photo.attached? %>
         <%= image_tag @user.photo, style: "width: 100px; height: auto", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>

    <div class="d-flex justify-content-around mt-2">
      <i class="fab fa-linkedin-in" style="size:7px;"></i>
      <i class="fas fa-envelope" style="size:7px;"></i>
    </div>

  </div>
</div>
<br>

<!-- OLD DESIGN // CONTAIN ALL THE CONTENT TO ADD UP -->

<div class="col-lg-10">
  <div class="d-flex justify-content-between mb-2">
    <h2><%= @user == current_user ? 'My Hobbies' : 'Hobbies' %> </h2>
    <% if @user == current_user %>
      <%= link_to 'Edit my profile', edit_user_registration_path, class: 'btn btn-flat-primary btn-sm' %>
     <% end %>
  </div>
  <% @user.hobby_list.each do |hobby| %>
    <span class="tag-show-event"><%= hobby %></span>
  <% end %>

  <div class="d-flex justify-content-between mt-2">
    <h2><%= @user == current_user ? 'My organized events' : 'Organized events' %></h2>
    <% if @user == current_user %>
      <%= link_to 'Create an event', new_event_path, class: 'btn btn-flat-primary btn-sm' %>
    <% end %>
  </div>
  <div class="event-container">
    <%= render "my_events" %>
  </div>
  <h2><%= @user == current_user ? 'My booked events' : 'Booked events' %></h2>
  <div class="event-container">
    <%= render "booked_events" %>
  </div>
</div>
