<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <% if user_signed_in? %>
    <%= link_to events_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/drzg8kw0k/image/upload/v1612022994/Coolleagues/Logo-Coolleagues_foua1s.png" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to '#', class: "nav-link", id: 'toggle-d-none-event'  do %>Evenement<% end %>
        </li>
        <li class="nav-item">
          <%= link_to '#',  class: "nav-link ", id: 'toggle-d-none-user' do %>Profile<% end %>
        </li>

        <!-- <li id="toggle-in"><i class="fas fa-angle-double-left"></i></li> -->

        <% if current_user.photo.attached? %>
         <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <!-- <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to user_path(current_user), class: "dropdown-item" do %>
                <i class="far fa-id-badge"></i> Go to my profile
              <% end %>
              <%= link_to user_path(current_user), class: "dropdown-item" do %>
                <i class="fas fa-user"></i> <%= current_user.email %>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i> Log out
              <% end %>
            <% end %>
          </div>
        </li> -->
      </ul>
    </div>
  <% end %>
</div>
