<% @events.each do |event| %>
  <div class="card-event">
    <%= link_to event_path(event) do %>
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photos.first %>')">
      <%= event.name %>
      </div>
    <% end %>

    <div class="card-info">
      <a href="#" class="tag-card"><%= event.hobby_list.first %></a>
      <% avatar_shift = 10 %>
      <% event.bookings.where(status: "Réservé").first(5).each do |booked_user| %>
        <% if booked_user.user.photo.attached? %>
          <%= image_tag booked_user.user.photo, class: "avatar-event", style: "left: #{avatar_shift}px;", alt: "avatar-bordered" %>
        <% end %>
        <% avatar_shift += 10  %>
      <% end %>
      <p><%= pluralize(event.bookings.where(status: "Réservé").count, "participant", plural: "participants", locale: :fr) %> </p>
    </div>
  </div>
<% end %>

