<div class="container">
  <h1>Informations</h1>
  <div class="description">
    <p style="font-weight: bold; font-size: 20px" ><%= @event.name %></p>
    <p>Début : <%= @event.starts_at.strftime("%d/%m/%Y") %></p>
    <p>Fin : <%= @event.ends_at.strftime("%d/%m/%Y") %></p>
    <p>Lieu : <%= @event.location %></p>
    <p>Participants max : <%= @event.max_booking %></p>
    <p>Nombre d'inscrits : <%= @event.bookings.count %></p>
    <p>Description : <%= @event.description %></p>
    <% if @event.bookings(@event).status == "Réservé"%>
    <%= link_to "Cancel",  class: 'btn btn-flat-primary' %>
    <% else  %>
      <%= link_to "Book", event_bookings_path(@event), method: :post, class: 'btn btn-flat-primary' %>
    <% end %>
  </div>
</div>

