<div class="container">
  <h1>Detailed information on <%= @event.name %></h1>
    <div class="row">
      <div class="col-lg-6">
        <p style="font-weight: bold; font-size: 20px" ><%= @event.name %></p>
        <p>Starting : <%= @event.starts_at.strftime("%d/%m/%Y") %></p>
        <p>Ending : <%= @event.ends_at.strftime("%d/%m/%Y") %></p>
        <p>Location : <%= @event.location %></p>
        <p>Max. participants : <%= @event.max_booking %></p>
        <p>Booked participants : <%= @booking_count %></p>
        <p>Description : <%= @event.description %></p>
        <% if @booking %>
          <%= link_to "Cancel", booking_path(@booking), method: :patch, class: 'btn btn-flat-primary' %>
        <% else  %>
          <%= link_to "Book", event_bookings_path(@event), method: :post, class: 'btn btn-flat-primary' %>
        <% end %>
          <%= link_to "Back to my events", user_path(current_user), class: 'btn btn-flat-primary' %>
      </div>
      <div id="map"
        class="col-lg-6"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>

