<div class="container">
  <h1>Informations</h1>
  <div class="description">
    <p><%= @event.name %></p>
    <p>Début : <%= @event.starts_at %></p>
    <p>Fin : <%= @event.ends_at %></p>
    <p>Adresse : <%= @event.location %></p>
    <p>Description : <%= @event.description %></p>
  </div>
</div>

