<div class="container">
  <h1>Informations</h1>
  <div class="description">
    <p style="font-weight: bold; font-size: 20px" ><%= @event.name %></p>
    <p>Début : <%= @event.starts_at %></p>
    <p>Fin : <%= @event.ends_at %></p>
    <p>Lieu : <%= @event.location %></p>
    <p>Participants max : <%= @event.max_booking %></p>
    <p>Description : <%= @event.description %></p>
    <%= link_to "S'inscrire" %>
  </div>
</div>

