<div class="content-space">

<!-- Section 1 -->

  <div class="home-section">
    <div class="home-presentation" >
      <h1>Get Integrated.</h1>
      <h2>Discover People & Events within your company that correspond to YOUR interests.</h2>
      <br>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-flat-primary" %>
      <%= link_to "Sign In", user_session_path, class: "btn-ghost-primary" %>
    </div>
    <div class="home-img-logo">
      <%= image_tag("integration.jpg", class: "img_home") %>
    </div>
  </div>

<!-- Section 2 -->

  <div class="home-section">
    <div class="feature-presentation" >
      <h2>Discover People & Events within your company.</h2>
      <h3>Get Integrated in your company easily.</h3>
      <br>
      <%= link_to "Sign Up", root_path, class: "btn-flat-primary" %>
      <%= link_to "Sign In", root_path, class: "btn-ghost-primary" %>
    </div>
    <div class="home-img-logo">
      <%= image_tag("integration.jpg", class: "img_home") %>
    </div>
  </div>


</div>
