<div class="content-space">

<!-- Section 1 -->

  <div class="home-section">
    <div class="home-presentation" >
      <h1>Get Integrated.</h1>
      <h2>Discover People & Events within your company that correspond to YOUR interests.</h2>
      <br>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat-primary" %>
      <%= link_to "Sign In", user_session_path, class: "btn btn-ghost-primary" %>
    </div>
    <div class="home-img-logo">
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229424/wlqshqdfbwq9ellelmjg.jpg", class: "img_home") %>
    </div>
  </div>

<!-- Section 2 -->

  <h1 class="home-section">Know your coolleagues.</h1>
  <div class="feature-presentation" >
    <div class="feature-card">
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229437/sca18iv8oqcgsyxsrcug.jpg", class: "img_feature_home", id: "left") %>
      <span class="feature-title">Discover</span>
      <span class="feature-description">Meet your colleagues, learn more about them and find the one who share your interests.</span>
    </div>

    <div class="feature-card">
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229460/dysnu0vbvejbfumujbvo.jpg", class: "img_feature_home", id: "middle") %>
      <span class="feature-title">Chat</span>
      <span class="feature-description">You can chat with your coolleagues, to know if they participating the same event. Or whatever you want to talk about!</span>
    </div>

    <div class="feature-card">
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229474/rtuxydgzsoxxtcodpxnq.jpg", class: "img_feature_home") %>
      <span class="feature-title" id="right">Events</span>
      <span class="feature-description">Participate and Organise events to create the social life of your company, have fun with your colleagues, enjoy! </span>
    </div>

  </div>

<!-- Section 3 -->

  <h1 class="home-section">They trust us.</h1>
  <div class="feature-presentation" >
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229486/upe1bbf1waccqrpirvs1.png", class: "logo-brand") %>
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229496/uqvdaqt2auswfm6ccxca.png", class: "logo-brand") %>
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229505/g2btd1siv1e5owvpwfa4.png", class: "logo-brand") %>
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229149/tmyf9avskbtnbuo8qpvt.png", class: "logo-brand") %>
      <%= image_tag("http://res.cloudinary.com/fofo921/image/upload/v1613229515/iyewfky2lq1yzgjkeqh5.png", class: "logo-brand") %>
  </div>

</div>
