<!DOCTYPE html>
<html>
  <head>
    <title>Coolleagues</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

  <div class="test">

    <div class="body-container">
      <%= yield %>
    </div>

    <div class="menu-container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <a id="toggle-out"><i class="far fa-times-circle"></i></a>
      <h2>menu</h2>
    </div>

  </div>

  </body>
</html>
